@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("_comonents.scss");

body {
  font-family: "Roboto", sans-serif;
}

// * {
//   outline: 1px solid red;
// }

.main {
  background-image: url(../img/bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 56px);
}
.projects {
  padding: 40px 0;
  // height: 100vh;
  background-color: #343a40;
}

.projects__card {
  width: 48%;
  background-color: #343a40;
}
.projects__card:nth-child(even) {
  direction: rtl;
  margin-left: auto;
}
.projects__img {
  max-width: 100%;
  height: 100%;
}

.skills {
  padding: 40px 0;
  background-color: #343a40;
}
.skills__icon {
  font-size: 24px;
  margin-right: 10px;
  // display: inline-block;
  // width: 100%;
  // text-align: center;
}
.skills__title {
  display: inline-block;
}
