@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("_comonents.scss");

body {
  font-family: "Roboto", sans-serif;
}

// Start Global Styles
section {
  padding: 40px 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
// End Global Styles
* {
  outline: 1px solid red;
}

.main {
  background-image: url(../img/bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

// Start Projects Section
.projects {
  &__card {
    // width: 16rem;
    width: 88%;
    margin: 0 auto;
    // max-width: 18rem;
    // background-color: #343a40;

    @media screen and (max-width: 991.98px) {
      width: 96%;
    }
  }

  // &__card:nth-child(even) {
  //   margin-left: auto;
  // }

  // &__img {
  //   max-width: 100%;
  //   height: 100%;
  // }
}
// End Projects Section

// Scroll up
#up {
  background-color: #0d6efd;
  position: fixed;
  width: fit-content;
  height: fit-content;
  padding: 10px 15px;
  bottom: 50px;
  right: -45px;
  // right: 50px;
  font-size: 24px;
  color: #fff;
  border-radius: 10px;
  transition: 0.4s ease;

  @media screen and (max-width: 767.98px) {
    padding: 5px 10px;
  }

  &.show {
    right: 50px;
    @media screen and (max-width: 767.98px) {
      right: 30px;
    }
    @media screen and (max-width: 575.98px) {
      right: -45px;
    }
  }
}

// Start Skills Section
.skills {
  background-color: #343a40;

  &__icon {
    font-size: 24px;
    margin-right: 10px;
  }

  &__title {
    display: inline-block;
  }
}
// End Skills Section

// Start Qualifications Section
.qualifications {
  &__timeline-item {
    width: 48%;

    @media screen and (max-width: 991.98px) {
      width: 100%;
      text-align: center;
    }
  }

  &__timeline-item:nth-child(even) {
    margin-left: auto;
  }
}
// End Qualifications Section

// Start Contact Section
.footer {
  &__social-media-list {
    display: flex;
    justify-content: center;
  }
}
// End Contact Section
